
.modulo{
    display:flex;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    width: 200px;
}

.button{

    font-size: 13.3px;
    font-family: Tahoma;
    border-radius: 4px;
    background-color: #e9e9ed;
    border: 1px solid black;
    text-decoration:none;
    text-decoration-color: black;
    color: black;
    margin: 10px 0;
    padding: 2px ;     

}

.content{

    display: flex;    
    justify-content: center;

}

.tab{

    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;

}

li:first-child {
    border-radius: 10px 10px 0 0;
}

li:nth-last-child(3) {
    border-radius: 0 0 10px 10px;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.dist{
    margin: 15px 0;
}


.dist>li{
    padding: 0 10px;
}

#list{
    width: 50%;
}